<template>
  <div id="root" class="grid-container">
    <header-component class="nav-bar"></header-component>
    <main class="grid-item">
      <router-view></router-view>
    </main>
    <!--<footer-component></footer-component>-->
  </div>
</template>

<script>
import Header from '../components/header/Header.vue';
import StartUp from './landingPage/LandingPage.vue';
import Footer from '../components/footer/Footer.vue';

export default {
  name: 'Main',
  components: {
    'header-component': Header,
    'startup-component': StartUp,
    'footer-component': Footer
  }
};
</script>

<style>
  .grid-container{
    display: grid;
    grid-template-columns: minmax(100px, 8%) 1fr;
  }
  .nav-bar{
    min-width: 100px;
  }


</style>
