<template>
  <div class="title">
    <h1 class="title-h1">'Point It!</h1>
    <div class="choose-what-you-want-component">
      <div class="want-to-host-inputs" v-if="wantToHost">
        <h2>Room name</h2>
        <input type="text" v-model="roomName"/>
        <h2>Room topic</h2>
        <input type="text" v-model="topic"/>
      </div>
      <img class="title-logo" @click="onVoteClicked" :class="{active: wantToVote}" src="http://fountainjs.io/assets/imgs/yeoman.png" v-if="!wantToHost"/>
      <img class="title-logo" @click="onHostClicked" :class="{active: wantToHost}" src="http://fountainjs.io/assets/imgs/fountain.png" v-if="!wantToVote"/>
      <div class="want-to-vote-inputs" v-if="wantToVote">
        <h2>User name</h2>
        <input type="text" v-model="userName"/>
        <h2>Room id</h2>
        <input type="text" v-model="roomNumber"/>
      </div>
    </div>
    <span class="is-working-on-it" v-show="isWorkingOnIt">We are working on it!</span>
    <button class="go-for-it button" v-show="ctaButtonVisible" @click="onGoForItClicked">{{ctaButtonText}}</button>
  </div>
</template>

<script>

export default {
  name: 'StartUp',

  data() {
    return {
      userName: '',
      roomNumber: '',
      roomIdToConnectTo: null,
      roomName: '',
      topic: '',
      wantToVote: false,
      wantToHost: false,
      isWorkingOnIt: false
    };
  },
  computed: {
    // BABEL NOT WORKING FOR ME FIX SOON!!
    // ...mapState('game', [
    //   'roomId'
    // ]),
    room() {
      return this.rooms.find(room => {
        console.log(room);
        return room.id.toString() === this.roomIdToConnectTo;
      });
    },
    roomId() {
      return this.$store.state.game.roomId;
    },
    ctaButtonText() {
      return this.wantToVote ? 'Start voting' : 'Become a host';
    },
    ctaButtonVisible() {
      return !(!this.wantToVote && !this.wantToHost);
    }
  },
  methods: {
    onVoteClicked() {
      this.wantToVote = !this.wantToVote;
    },
    onHostClicked() {
      this.wantToHost = !this.wantToHost;
    },
    onGoForItClicked() {
      this.isWorkingOnIt = true;
      if (this.wantToVote) {
        this.connectToRoom();
      } else {
        this.goToRoom();
      }
    },
    connectToRoom() {
      this.$router.push(`/Vote?roomNumber=${this.roomNumber}&userName=${this.userName}`);
    },
    goToRoom() {
      this.$router.push(`/Dashboard?roomName=${this.roomName}&topic=${this.topic}`);
    }
  }
};
</script>
