.choose-what-you-want-component{
  display: flex;

  .active{
    border: solid 2px #5aadbb;
    box-shadow: #5aadbb 3px 3px 20px;
  }

  .want-to-vote-inputs,
  .want-to-host-inputs{
    display: flex;
    flex-direction: column;
  }
}

