<template>
  <header class="header">
    <p class="header-title">
      <a href="/">PointIt!</a>
    </p>
    <div class="grid-item nav-bar-item icon-container">
      <!--<img class="icon" src="../../../assets/icons/story-point-cards-credit-poker-scrum-points-32bfbde9fc3bc996-512x512.png"></img>-->
    </div>
    <div class="grid-item nav-bar-item icon-container">
      <!--<img class="icon" src="../../../assets/icons/burnDownIcon.png"></img>-->
    </div>
  </header>
</template>

<script>
export default {
  name: 'Header'
};
</script>

<style>
  .header{
    display: grid;
    grid-auto-rows: minmax(50px, 5%) minmax(100px, 10%) minmax(100px, 10%) minmax(100px, 10%) auto ;
  }

  .header-title{
    margin-top: 20px;
  }


  .nav-bar-item{

  }



</style>
