.vote-component{
  background: darkgrey;

  .user-info-container{
    text-align: center;
    font-size: 2em;
    padding: 10px;
    background: lightblue;

  }
  .room-info-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 5em;
    justify-content: space-evenly;
  }

  .points-container{
    text-align: center;
    font-size: 6em;
    background: cornflowerblue;
    border: solid 1px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    line-height: 2em;
  }

  .controls{
    margin-top: 2em;
    display: flex;
    justify-content: space-evenly;
  }
  .button{
    max-width: 200px;
    width: 40%;
    height: 50px;
    border: solid white 3px;
    background: none;
    font-size: 4em;
    line-height: 0em;
  }

  .vote-button{
    margin: 1em auto;
    border: solid white 3px;
    width: 75%;
    background: slategrey;
    font-size: 1em;
  }

  .action-button-container{
    display: flex;
  }

  .footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }
}
