<div class="vote-component">
  <div class="loader" v-if="!user || roomNotFound"></div>
  <div class="connect-to-room-container" v-if="!room">
    <input type="text" v-model="roomNumberField" v-if="!disableInput">
    <div class="loader" v-if="disableInput"></div>
  </div>
  <div class="vote-component-container">
    <div class="user-info-container" v-if="user">{{user.userName}}</div>
    <div class="room-info-container" v-if="room">
      <span class="room-name">{{room.roomName}}</span>
      <span class="room-topic">{{room.topic}}</span>
    </div>
    <div class="points-container">
      <span class="points">{{points}}</span>
    </div>
    <div class="controls">
      <button class="plus-button button circle" @click="addPoints">+</button>
      <button class="minus-button button circle" @click="subtractPoints">-</button>
    </div>
    <div class="action-button-container">
      <button class="vote-button button" @click="onCtaButtonClicked">{{ctaButtonText}}</button>
    </div>
  </div>
</div>
