.dashboard-component{
  background: #FAFAFA;
  height: 100%;


  .dashboard-component-container{
    display: grid;
    height: 100%;
    grid-gap: 5px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px 300px auto 15%;
    grid-row-gap: 20px;
    grid-template-areas:
      "i i i i i i i i i i i i"
      "c f f f f f f f f f f f"
      "u u u u u u u u q q q q";
  }

  .room-info-container{
    grid-area: i;
  }

  .vote-results-container{
    padding: 20px;


    grid-area: f;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 3fr 3fr 3fr 5fr;
    .grid-item{
      padding: 10px;
      background-color: white;
      display: grid;
      grid-template-rows: 2em auto 1.5em;
      text-align: center;
    }
  }

  .user-list-container{
    grid-area: u;
    padding: 10px;
  }

  .qr-code-container{
    grid-area: q;
  }

  .room-controls{
    grid-area: c;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    margin : 20px;
    padding: 10px;
  }

.vote-attendance-info-container{
  display: flex;
  align-items: baseline;
}



.hover-effect{
  border-radius: 5px;
  background: white;
  box-shadow: 2px 2px 5px black;
}

  ////////////////////////////
  .result-title{
    font-size: 1.5em;
    margin:10px;
  }

  .vote-attendance-info{
    text-align: center;
    font-size: 1.1em;
    margin-left: 3em;
  }

  .room-name{
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    background: darkslategrey;
    color: white;
    padding: 10px;
  }
  .roomNumber{
    font-size: 0.7em;
  }
  .room-topic{
    font-size: 2em;
    text-align: center;
  }

  .room-features-container{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    flex-wrap: wrap;
  }

  .qr-code{
    width: 100% !important;
    height: inherit !important;
  }

  .value{
    justify-self: center;
    align-self: center;
  }
  .average-value{
    font-size: 4em;
    margin-bottom: 10px;
  }
  .mode-value{
    font-size: 4em;
    margin-bottom: 10px;
  }
  .average-points-voted-wait{
    font-size: 1em;
    margin-bottom: 10px;
  }
  .mode-points-voted-wait{
    font-size: 1em;
    margin-bottom: 10px;
  }
  .user-list-container{
    padding: 10px;
  }


  .user-list{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
  }

  .users-title{
    margin-left: 1em;
    margin-bottom: 0.5em;
    font-size: 1.5em;
    font-weight: bold;
  }

  .user{
    width: 150px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 5px;
    background: white;
    box-shadow: 2px 2px 5px black;
    position: relative;
  }

  .remove-user-button{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #9E9E9E;
    border: solid 1px red;
    position: absolute;
    top: -9px;
    right: -7px;
    text-align: center;
    line-height: 25px;
  }

  .user-name{
    margin-top: 0.5em;
    margin-bottom: 10px;
    font-size: 1.5em;
    text-align: center;
  }

  .user-vote{
    margin: 10px auto;
    font-size: 1em;
    width: 80px;
    height: 80px;
    background: darkgrey;
    text-align: center;
    border: solid 2px darkslategrey;
    border-radius: 50%;
    align-items: center;
  }

  .user-vote-value{
    font-size: 3em;
    font-weight: bold;
    transform: translateY(-50%);
    margin-top: 50%;
  }

  .voted{
    background: green;
  }
}
