
<div class="dashboard-component">
  <div class="loader" v-if="!room"></div>
  <div class="dashboard-component-container" v-if="room">
    <div class="room-info-container">
      <div class="room-name">{{room.roomName}} <span class="roomNumber"> #{{room.roomNumber}}</span></div>
      <div class="room-topic">{{room.topic}}</div>
    </div>
    <div class="room-controls hover-effect">
      <button class="restart-voting-button" @click="restartVoting">Restart voting</button>
      <button class="restart-voting-button" @click="restartVoting">Restart voting 2</button>
      <button class="restart-voting-button" @click="restartVoting">Restart voting 3</button>
    </div>
    <div class="vote-results-container">
      <div class="average-container grid-item hover-effect">
        <div class="average-title result-title">Average</div>
        <div class="average-value value">{{averagePoints}}</div>
        <div class="average-points-voted-wait" v-if="!allVoted">Waiting for all to vote</div>
      </div>
      <div class="mode-container grid-item hover-effect">
        <div class="mode-title result-title">Mode</div>
        <div class="mode-value value">{{modePoints}}</div>
        <div class="mode-points-voted-wait" v-if="!allVoted">Waiting for all to vote</div>
      </div>
      <div class="attandance-container grid-item hover-effect">
        <div class="result-title">Attendance</div>
      </div>
      <div class="graph-container grid-item hover-effect">
        <div class="result-title">Statistics</div>
      </div>
    </div>

    <div class="user-list-container">
      <div class="vote-attendance-info-container">
        <div class="users-title">Users</div>
        <div class="vote-attendance-info">{{votingStatus}}</div>
      </div>
      <div class="user-list">
          <div class="user hover-effect" v-for="user in users">
            <div class="remove-user-button" @click="removeUser(user['.key'])">x</div>
            <div class="user-vote" :class="{voted:user.vote > 0}">
              <div class="user-vote-value" v-if="user.vote === 0">?</div>
              <div class="user-vote-value" v-if="user.vote > 0">{{user.vote}}</div>
            </div>
            <span class="user-name">{{user.userName}}</span>
          </div>
      </div>
    </div>
    <div class="qr-code-container">
      <canvas ref="qrcode" class="qr-code"></canvas>
    </div>
  </div>
</div>
